html{
    max-width: 100%;
    overflow-x: hidden;
}

#header {
    font-size:1vw;
}

#header_text{
    color: rgba(255, 255, 255, 0.89);
    position: absolute;
    width: 100%;
    left: 0;
    text-align: left;
    margin:0 auto;
    padding-top: 10px;
    font-family: Arial;
}

#my_tab{
    padding: 10px;
    font-size: 1vw;
    font-family: Arial;
}

#consumption_div{
    padding-top: 40px;
}

.mydropdown{
    padding-left: 100px;
    font-size: 0.9vw;
}